<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-progress" version="0.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Progress</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova / PhoneGap Plugin for Progress HUD Notifications via KVNProgress</description>
    <keywords>cordova, progress, hud, notification, message, toast, status, overlay, loader</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module name="Progress" src="www/progress.js">
        <clobbers target="progress"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Progress">
                <param name="ios-package" value="Progress"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Progress.h"/>
        <source-file src="src/ios/Progress.m"/>

        <header-file src="src/ios/KVNProgress/Classes/KVNProgress.h"/>
        <source-file src="src/ios/KVNProgress/Classes/KVNProgress.m"/>
        <header-file src="src/ios/KVNProgress/Classes/KVNProgressConfiguration.h"/>
        <source-file src="src/ios/KVNProgress/Classes/KVNProgressConfiguration.m"/>

        <header-file src="src/ios/KVNProgress/Categories/UIColor+KVNContrast.h"/>
        <source-file src="src/ios/KVNProgress/Categories/UIColor+KVNContrast.m"/>
        <header-file src="src/ios/KVNProgress/Categories/UIImage+KVNEmpty.h"/>
        <source-file src="src/ios/KVNProgress/Categories/UIImage+KVNEmpty.m"/>
        <header-file src="src/ios/KVNProgress/Categories/UIImage+KVNImageEffects.h"/>
        <source-file src="src/ios/KVNProgress/Categories/UIImage+KVNImageEffects.m"/>

        <resource-file src="src/ios/KVNProgress/Resources/KVNProgressView.xib"/>

        <framework src="Foundation.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="GLKit.framework"/>
    </platform>
</plugin>
